#cover{
    z-index: 1;
    position:fixed;
    height: 100vh;
    width: 100vw;
    background-color: white;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 2s ease-in-out, opacity 1s ease-in-out;
}

#cover *{
    transition: font-size 1s;
}

#cover h1{
    text-align: center;
    font-size: 10vh;
}

#cover h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 3vh;
    color: var(--accent-orange)
}