@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap');

:root{
    --accent-blue: rgb(0, 177, 217);
    --accent-orange: rgb(255, 145, 0);
    --dark: rgb(32, 32, 32);
    --light: white;
    --light-bg: rgb(243, 243, 243);
    --light-clr-bg: rgba(255, 255, 255, 0.787);
    --lightText:#bdbdbd;
    --darkText: rgb(59, 59, 59);
}

body{
    margin: 0;
    height: auto;
}

body h1 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 4vh;
    font-weight: 500;
    color: var(--accent-blue)
}

body p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: var(--darkText)
}

#main {
    background-color: var(--light-bg);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px
}

#main > div {
    border-radius: 20px;
    position: relative;
    min-height: calc(100vh - 40px);
    height:auto;
    box-shadow: 5px 5px 10px rgb(206, 206, 206);

    display: flex;
    flex-direction: column;
    padding: 20px;

    background-color: white;
}

#personal-info {
    flex: 1;
    align-items: center;
    justify-content: center;
}

#tech-info {
    flex: 2;
    justify-content: space-evenly;
}

#profile-img-container {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

#profile-info {
    position:relative;
    flex:1;
}

#profile-info > h1 {
    text-align: center;
}

#profile-edu {
    color: var(--accent-orange)
}

#skills-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

#skills-container > div {
    white-space: nowrap;
    border-radius: 10px;
    /* border: solid 2px var(--darkText); */
    width: auto;
    padding: 0 20px;
    text-align: center;
    transition: background-color 0.2s, color 0.23s;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 1px 1px 5px rgba(164, 164, 164, 0.573);
}

#skills-container > div > p {
    margin: 0;
}

#C:hover{
    background-color: rgb(80, 188, 255);
}
#JAVA:hover{
    background-color: rgb(255, 87, 26);
}
#JS:hover{
    background-color: rgb(222, 200, 0);
}
#TS:hover{
    background-color: rgb(138, 149, 255);
}
#PY:hover{
    background-color: rgb(104, 172, 255);
}
#HTML:hover{
    background-color: rgb(255, 128, 49);
}
#CSS:hover{
    background-color: rgb(133, 226, 255);
}
#REACT:hover{
    background-color: rgb(0, 255, 242);
}
#DOCKER:hover{
    background-color: rgb(56, 136, 206);
}
#LINUX:hover{
    background-color: rgb(159, 99, 255);
}
#NGINX:hover{
    background-color: rgb(90, 255, 49);
}
#FULLSTACK:hover{
    background-color: rgb(255, 206, 122);
}

#exp-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.exp-item {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.exp-item p {
    margin: 5px 0
}

.exp-item span {
    color: var(--accent-orange)
}

.exp-title {
    max-width: 50%;
}

.exp-status {
    text-align:end
}

#links-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 400px){
    #main > div {
        flex:none;
        width: calc(100vw - 40px);
        height: auto;
    }

    #skills-container{
        justify-content: space-evenly;
    }
}