@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400&display=swap');


/* Side Panels */
.bg-text-left {
    background-image: linear-gradient(-135deg,rgba(32, 32, 32, 0),rgba(32, 32, 32, 0.139),rgba(32, 32, 32, 0.34),rgba(32, 32, 32, 0.6),rgb(32, 32, 32));
    position: relative;
    width: 25%;
    height: 100%;
    padding: 0.5px;
}
.textBox {
    position:relative;
    padding-top: 20%;
    padding-bottom: 20%;
    color:rgb(212, 212, 212);
}
.title{
    text-align:center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 30px;
    text-decoration: underline;
}
.list{
    font-family: 'Montserrat Alternates', sans-serif;
    text-align:   center;
    /* padding-left: 10%; */
    padding-right:10%;
}

.bg-image {
    background-image: url("PC.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bg-image2 {
    background-image: url("6284951fe5ca6.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed; 
}

.media {
    position:absolute;
    width:107ch;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: rgb(210, 209, 209);
    background: rgba(5,5,5,0);
    padding: 50px;
}
.intro {
    font-size: 17px;
    font-family: 'Courier New', monospace;
}
.container {
    max-width: 300px;
}
.link {
    color:#1FA0B1;
    text-decoration: none;
}
.link2 {
    color: #9065D6;
    text-decoration: none;
}
.link3{
    color: #b53535;
}

/*Typing animation*/
/*Inital terminal - empty command*/
.typing0 {
    width: 29ch;
    animation: typing 4s steps(0), blink .5s step-end infinite alternate;
    border-right: 1ch solid;
}
/*Social pages*/
.typing {
    width: 85ch;
    animation: typing 4s steps(39), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1ch solid;
    font-family:'Courier New', monospace;
}
/* /*contact* */
.typing2 {
    width: 62ch;
    animation: typing 2.3s steps(25), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1ch solid;
    font-family:'Courier New', monospace;
}

@keyframes typing {
    /*Omitting prefix of CMD*/
    from {
        width: 29ch;
    }
} 
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Display some information when hovering */
    /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    text-decoration: none;
    /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(20,20,20,0.4);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    width: 190px;
    bottom: 100%;
    left: 50%;
    margin-left: -90px; 
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}