@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Cormorant+Garamond:ital,wght@0,400;1,300&family=Montserrat+Alternates:wght@100;300;400&family=Noto+Sans+JP:wght@300&family=Red+Hat+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');

/* 
orange: rgb(0, 208, 255)
blue: rgb(0, 208, 255)
*/

:root{
    --dark: rgb(32, 32, 32);
    --light: white;
    --lightText:#bdbdbd;
    --darkText: rgb(23,23,23);
}

body{
    height:100%;
    margin: 0;
    max-width: 100%;
    animation: fadeIn;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 0.5px;
    background-color: var(--dark);
}

body::-webkit-scrollbar{
    width: 3px;
    background-color: rgb(23,23,23);
}

body::-webkit-scrollbar-thumb{
    background-color:rgb(0, 208, 255);
}

/* section{
    scroll-snap-align: start;
    
} */

@keyframes fadeIn {
    0%   { opacity:0; }
    100% { opacity:1; }
}

/*////////////////////////////////////// 


Features


//////////////////////////////////////*/

.navBar{
    position: sticky;
    top: 0px;
    z-index: 10000000;
    left: 50%;
    transform: translate(-50%);
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    width: 70vw;
    padding: 10px 0 10px 0;
    border-bottom: solid #bdbdbd 1px;
    backdrop-filter: blur(2px);
}

/* .blurDiv{
    position:absolute;
    z-index: 999999;
    height:calc(100%);
    width: 100%;
    backdrop-filter:blur(2px)
} */

.navButton{
    background-color: rgba(0,0,0,0);
    border: none;
    text-align:center;
    font-family: 'Cormorant Garamond', serif;
    font-size: calc(1.3vw);
    color:#bdbdbd;
    transition: color 0.5s ease;
}

.navButton:hover{
    color: rgb(0, 208, 255);
}

.bw{
    position: fixed;
    margin-top:20px;
    right:2%;
    z-index: 100;
    border-radius: 10%;
    background-color: rgb(0, 208, 255);
    width:47px;
    height: 35px;
    padding-left:5px;
    padding-right:5px
}

.circ{
    position: relative;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    top:50%;

    transform:translate(0,-50%);
    
}

.smallCirc{
    position:relative;
    height: 100%;
    width: 100%;
    background-color: rgb(23,23,23);
    border-radius: 50%;
    display: inline-block;
    left: 50%;
}

.scrolldown{
    position: fixed;
    text-align: center;
    top:85vh;
    color:#bdbdbd;
    font-size:30px;
    animation: arrow 2s infinite ease-in-out;
    right: 2%;
    z-index: 3;
}
@keyframes arrow {
    0%{
        top:83vh;
    }
    50%{
        top:85vh;
    }
    100%{
        top:83vh
    }
}

/*////////////////////////////////////// 


Name


//////////////////////////////////////*/
.name{
    position:relative;
    background-color: var(--dark);
    height: 100vh;
    width: 100vw;
    top: 0px;
    /* border-bottom: 1px solid rgb(225, 19, 19); */
}

.name::after{
    content: "";
    position: absolute;
    top:100%;
    width: 50%;
    left:25%;
    border-bottom: 1px solid rgb(0, 208, 255);
}
.welcome{
    position: relative;
    height: 10%;
    /* top: 40%; */
    left:50%;
    transform: translate(-50%,-50%);
}
.myName{
    position:relative;
    font-family: 'Red Hat Display','Noto Sans JP', sans-serif;
    height: 100%;
    color:rgb(0, 208, 255);
    font-size: calc((15vh + 10vw)/2);
    text-align: center;
    padding-bottom:50px;
    animation: blinker 2.8s forwards;
}
.message {
    height:auto;
    color:#bdbdbd;
    position: relative;
    left: 0%;
    animation: slideIn forwards 4s ease-out;
}

@keyframes blinker {
    0%{
        opacity: 0;
        top: -100vh;
    }
    /* 30%{
        opacity:0;
    } */
    100%{
        opacity: 1;
        top:calc(50vh - 15vh);
    }

}

@keyframes slideIn {
    0%{
        opacity: 0;
        top: -250%;
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        top: calc(50vh);
    }
}


/*////////////////////////////////////// 


SECTION 1


//////////////////////////////////////*/
#clickBox{
    position:absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 162, 198);
    border-radius: 10px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.455);
    transition: background-color 0.3s ease-out, width 0.3s ease-out, height 0.3s ease-out, border-radius 0.3s ease-out, box-shadow 0.3s ease-out;
    animation: jump 1.5s infinite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 30px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.455)
}

@keyframes jump {
    0%{
        width: 50px;
        height: 50px;
        border-radius: 10px;
        box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.455);
        background-color: rgb(0, 126, 155);
    }
    50%{
        width: 70px;
        height: 70px;
        border-radius: calc(0.2*70px);
        box-shadow: 15px 25px 10px rgba(0, 0, 0, 0.455);
        background-color: rgb(0, 208, 255);
        font-size: 50px;
    }
    100%{
        width: 50px;
        height: 50px;
        border-radius: 10px;
        box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.455);
        background-color: rgb(0, 126, 155);
    }
}

#clickBox:hover{
    background-color:rgb(0, 208, 255);
    animation: none;
}
.bg-image {
    position: ab;
    min-height: 100vh;
    height: auto;
    width:100vw;
    background-image: linear-gradient(var(--dark),rgba(0,0,0,0));
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.media::-webkit-scrollbar{
    width: 0px;
}
.media {
    position:relative;
    width:0px;
    max-width: 90vw;
    max-height: 0px;
    /* height: 100px; */
    color: rgb(122, 244, 75);
    background-color: rgb(0, 0, 0);
    padding: 4vw 0vw 4vw 0vw;
    transition: padding 5s;
    overflow-x: hidden;
    border-radius: 20px;
    transition: width 1s ease-in-out, max-height 0.5s ease-in-out;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.455);
}

.intro {
    font-size: 2vh;
    font-family: 'Courier New', monospace;
    /* opacity: 0; */
    transition: opacity 1s ease-in;
}
.container {
    width: 30px;
}
.link {
    color:#1FA0B1;
    text-decoration: none;
}
.link2 {
    color: #9065D6;
    text-decoration: none;
}
.link3{
    color: #b53535;
}

/*Typing animation*/
/*Inital terminal - empty command*/
.typing0 {
    width: 29ch;
    animation: typing 4s steps(0), blink .5s step-end infinite alternate;
    border-right: 1ch solid;
}
/*Social pages*/
.typing {
    position:absolute;
    width: 85ch;
    /* height: auto; */
    word-wrap: break-word;
    animation: typing 4s steps(39), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1ch solid;
    font-family:'Courier New', monospace;
}
/* /*contact* */
.typing2 {
    width: 62ch;
    /* width: calc(100% - 100px); */
    animation: typing 2.3s steps(25), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1ch solid;
    font-family:'Courier New', monospace;
}

@keyframes typing {
    /*Omitting prefix of CMD*/
    from {
        width: 29ch;
    }
} 
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Display some information when hovering */
    /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    text-decoration: none;
    /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(20,20,20,0.4);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    width: 190px;
    bottom: 100%;
    left: 50%;
    margin-left: -90px; 
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}



/*////////////////////////////////////// 


SECTION 2


//////////////////////////////////////*/


/* Side Panels */
#skills{
    z-index: 999999;
    position: relative;
    padding: 50px 0px 50px 0px;
}
.bg-text-left {
    background-color: rgba(23, 23, 23, 0);
    position: relative;
    width: calc(50ch + 80px);
    height: 80%;
     left: 50%;
    transform: translate(-50%);
    /* border: solid 5px white; */
    padding: 40px;
}
.textBox {
    position:relative;
    color:#bdbdbd;
    padding-top: 2%;
    padding-bottom: 2%;
    left:50%;
    transform: translate(-50%);
    box-shadow: 15px 25px 15px 10px rgba(0, 0, 0, 0.521);
    backdrop-filter: blur(4px);
}
.title{
    color: rgb(0, 208, 255);
    text-align:center;
    font-family: 'Cairo', sans-serif;
    font-size: 4vh;
    /* text-decoration: underline; */
}
.list{
    position:relative;
    font-family: 'Cormorant Garamond', serif;
    text-align:   center;
    overflow-wrap:normal;
}
.list ul{
    list-style-type: none;
    padding: 0;
    font-size: 3vh;
}
.list li{
    margin-bottom: 15px;
    font-size: 2.5vh;
}


/* ////////////////////////////////////


Projects


/////////////////////////////////////*/

.project{
    position:relative;
    height: auto;
    width: auto;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(-160deg,rgba(0, 208, 255,0.5),rgba(0, 0,0,0));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding:50px;
    z-index: 99999;
}

.projectTitle{
    color:rgb(0, 208, 255); 
    font-size: 4vh;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    z-index: 1;
}

.projectDesc{
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5vh;
    color:#bdbdbd;
    width: 40%;
    height:auto;
}

.tryProject{
    text-decoration: none;
    z-index: 1000;
    transition: color 0.5s ease, border 0.5s ease;
    border: solid var(--lightText) 1px;
    padding: 5px;
    width: auto;
    text-align: center;
    margin-top: 10px;
}

.tryProject:hover{
    color: rgb(0, 208, 255);
    border: solid rgb(0, 208, 255) 1px;
}

.kanj{
    font-family: 'Zen Old Mincho', serif;

}


/*////////////////////////////////////// 


SECTION 3


//////////////////////////////////////*/

/* Experience */
.exp{
    transform-style: preserve-3d;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    height:auto;
    width:100%;
    color:#bdbdbd;
    z-index: 99;
}
.bg-image3 {
    position:absolute;
    background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("section1dark.jpg");
    transform: translateZ(-1px) scale(3);
    z-index: -6;
    top:-150vh;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    /* background-attachment:fixed;  */
}
.exp_title{
    padding-top:100px;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    font-size: 4vh;
}
.exp_p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    text-align: center;
    padding-bottom: 90px;
}
.exp_wrap{
    width: 80%;
    left: 50%;
    position: relative;
    transform: translate(-50%);
    height: auto;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.exp_subject{
    height:auto;
    padding-bottom: 90px;
}

.exp_subject_company{
    position:relative;
    /* left:10%; */
    width:25%;
    text-align:right;
}
.exp_subject_company h{ 
    font-family: 'Cairo', sans-serif;
    font-size: 2.6vh;
    color:rgb(0, 208, 255);
}
.exp_subject_company h1{ 
    font-family: 'Cairo', sans-serif;
    font-size: 2.5vh;
    color:rgb(151, 151, 151);
}
.exp_subject_company h2{ 
    font-family: 'Cairo', sans-serif;
    font-size: 2vh;
    color:rgb(151, 151, 151);
}
.exp_subject_description{
    position:relative;
    /* left:20%; */
    width:45%;
    text-align:left;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.2vh;
    color:#bdbdbd;
    /* border-left: 0.3px solid var(--light); */
}


/*////////////////////////////////////// 


SECTION 4


//////////////////////////////////////*/
#lastPage{
    position: relative;
    z-index: 9999999;
    height: 100vh;
    background-color: var(--dark);
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    overscroll-behavior: contain;
}

.exp_quoteBlock{
    color: var(--light);
    position:relative;
    width: auto;
    padding-left: 60px;
    height:auto;
}
.quote{
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 25px;
}
#thank{
    position: relative;
    font-family: 'Cairo', sans-serif;
    margin: 0 auto 0 auto;
    font-size: 7vh;
    color:rgb(0, 208, 255);
}
